{% extends 'base.html' %}
{% load static %}


{% block content %}
    <h1>Sevimli Kitoblar</h1>
    {% if object_list %}
        {% for kitob in object_list %}
            <h2>{{kitob.nomi}}</h2>
            {% if kitob.image %}
            <img src="{{ kitob.image.url }}" alt="{{ kitob.nomi }} rasm" style="max-width:200px; max-height:300px;">
            {% else %}
             <p>Rasm mavjud emas</p> 
             {% endif %}

            
            <p> <strong>Kitob turi: </strong>{{kitob.kitob_turi}} </p>
            <p> <strong>Muallif: </strong>{{kitob.muallif}} </p>
            <p> <strong>Nashr yili: </strong>{{kitob.nashr_yili}} </p>
            <p> <strong>Kitob linki: </strong>{{kitob.kitob_linki}}</p>
            <br>
            <br>
              {% if kitob.file %} 
                <a href="{{ kitob.file.url }}">Yuklab olish (file)</a>
               {% else %}
                <p>Yuklab olish uchun fayl mavjud emas</p>
               {% endif %}  
        {% endfor %}
        <a href="{% static 'images/' %}{{ kitob.image }}">Yuklab olish (rasm)</a>
    {% else %}
        <p>Sizda hali yoqtirgan kitoblaringiz yuq</p>
    {% endif %}
{% endblock content %}