<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bu css qism. Scroll qilguncha smooth scroll qilish uchun css ga kod qushildi -->
    <style>
        html {
            scroll-behavior: smooth;
            /* Optional: Add padding if you have a fixed header that might cover the anchor point */
            scroll-padding-top: 5rem; 
        }
    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitoblar</title>
</head>
<body>
    {% extends 'base.html' %}
    {% load static %}

    {% block content %}
        {% if kitoblar %}
            {% for kitob in kitoblar %}
            <li>
                <h2>{{kitob.nomi}}</h2> 
                {{kitob.muallif}}, {{kitob.nashr_yili}}, {{kitob.kitob_turi}}, Narxi: {{ kitob.kitob_narxi }} USD <br>
                {%if kitob.image %}
                    <img src="{{ kitob.image.url }}" alt="{{ kitob.nomi }} rasm" style="max-width:200px; max-height:300px;">
                {% else %}
                    <p>Rasm mavjud emas</p>
                {% endif %}
                <!-- Bu yerga yurakchani boshis kodi yozilgan -->
                <form action="{% url 'yurakcha' kitob.id %}"  method="post">
                    {% csrf_token %}
                    {% if kitob.is_favorite %}
                        <input type="submit" name="yurakcha" id="choice{{forloop.counter}}" value="{{ kitob.id }}" style="display: None;">
                        <label for="choice{{forloop.counter}}">
                            <img src="{% static 'images/yurakcha/image.png' %}" alt="YURAKCHA" style="max-width: 30px; max-height: 30px;">
                        </label>
                    {% else %}
                        <input type="submit" name="yurakcha" id="choice{{forloop.counter}}" value="{{ kitob.id }}" style="display: None;">
                        <label for="choice{{forloop.counter}}">
                            <img src="{% static 'images/yurakcha/image2.png' %}" alt="YURAKCHA" style="max-width: 30px; max-height: 30px;">
                        </label>
                    {% endif %}
                </form>
                <!-- ######################################## -->



                
                <p> <strong>Kitob turi: </strong>{{kitob.kitob_turi}} </p>
                <p> <strong>Muallif: </strong>{{kitob.muallif}} </p>
                <p> <strong>Nashr yili: </strong>{{kitob.nashr_yili}} </p>
                <p> <strong>Kitob linki: </strong>{{kitob.kitob_linki}}</p>
                <p> <strong>Kitob Narxi: </strong> {{ kitob.kitob_narxi }} USD </p>

                <a href="{{ kitob.kitob_linki }}">Kitobga o'tish</a> 
                
               {% if kitob.file %} 
                <a href="{{ kitob.file.url }}">Yuklab olish</a>
               {% else %}
                <p>Yuklab olish uchun fayl mavjud emas</p>
               {% endif %}  
                <a href="{% static 'images/' %}{{ kitob.image }}">Yuklab olish (rasm)</a>
                <br>
                <br>
            </li>


            {% endfor %}
        {% else %}
            <h1>Bu sahifa bo'sh. Nimadir qo'shish uchun admin paneliga kirib qo'shing</h1>
        {% endif %}


        <h4> yana qandaydir ma'lumot qo'shish uchun /admin paneliga kiring </h4>
    {% endblock content %}
</body>

</html>